<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Nito Job BestJob BestEmployer Employer Employee BestSalary Salary BestTeam Team Ажил Ажилтан Мэргэжилтэн Өндөр Цалин Тухтай оффис Баг хамт олон"
    />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <!-- icon links -->
    <script
      src="https://kit.fontawesome.com/ce25a366df.js"
      crossorigin="anonymous"
    ></script>
    <!-- css links -->
    <link rel="stylesheet" href="../css/index/header.css" />
    <link rel="stylesheet" href="../css/index/footer.css" />
    <link rel="stylesheet" href="../css/aboutUs/banner.css" />
    <link rel="stylesheet" href="../css/aboutUs/textContent.css" />
    <link rel="stylesheet" href="../css/aboutUs/teamSlider.css" />
    <link rel="stylesheet" href="../css/aboutUs/imgSlider.css" />
    <script src="../components/HeaderDefault.js" type="module"></script>
    <script src="../components/Footer.js" type="module"></script>
    <title>Бидний тухай</title>
  </head>
  <body>
    <!-- header буюу navigation хэсэг -->
    <header-default></header-default>

    <!-- гол content-ийн хэсэг -->
    <main>
      <!-- Banner хэсэг -->
      <section class="aboutUsBanner">
        <section class="darkGlass">
          <img src="../img/aboutUsImg/nitoOnlyLogo.png" alt="нито лого" />
          <h1>НитоТех</h1>
        </section>
      </section>
      <!-- Text content хэсэг -->
      <section class="gridText">
        <section class="leftSideText">
          <article>
            <h2>НитоТех хэнд зориулж, юу хийдэг вэ?</h2>
            <p>
              Нито нь технологи, инновацийн салбарт ажилд авах, ажилд орох, ажил
              хийх шинэ соёлыг нэвтрүүлэгч хиймэл оюунд суурилсан платформ.
              НитоТех нь компаниудад цахиур хагалах технологийн багаа
              бүрдүүлэхэд туслах Нито платформыг хөгжүүлдэг технологийн компани.
            </p>
          </article>
          <article>
            <h2>Алсын хараа эрхэм зорилго</h2>
            <p>
              Vision: Технологи, инновацийн эринд хөгжил, хүний үнэ цэнийг
              шинээр тодорхойлогч, дэлхийд тэргүүлэгч Хөдөлмөрийн дижитал
              платформ болно. Mission: Технологи, инновацийн хүчийг ашиглаж,
              ажилд авах, ажилд орох, ажил хийх соёлыг эрс өөрчилж, хөдөлмөрийн
              бүхий л талбарт ил тод, тэгш шударга, эрүүл, хүн ёсны, шинэлэг
              орчин, соёлыг бүрдүүлэхийн төлөө ажиллана.
            </p>
          </article>
          <article>
            <h2>Бид хэн бэ?</h2>
            <p>
              Зах зээлийг доргиох ээлжит технологийн шийдлийг хөгжүүлж, бусад
              компаниудын асуудлыг шийдэхийн төлөө ажиллаж буй залуу, эрч хүчтэй
              баг. Албан тушаал харгалзахгүйгээр тэгш чөлөөтэй харьцдаг. Өдөр
              бүрийг бүтээмжтэй бас хөгжилтэй өнгөрөөдөг. Технологийн
              хүрээллийнхнээсээ байнга шинэ юм сурдаг. "Ил тод, тэгш, хүнлэг ёс,
              хамт олон, эрс өөрчлөлт, манлайлал, амьдралын чанар" гэсэн үнэт
              зүйлстэй. Уян хатан цагийн хуваариар гэрээсээ ажиллах боломжтой.
            </p>
          </article>
          <article>
            <h2>НитоТех - ийн соёл</h2>
            <p>
              Самбар тойрж зогсоод санаагаа уралдуулах дуртай. Долоо хоног бүр
              хийсэн, хийх гэж байгаа ажлаа бие биедээ энгийн үгээр тайлбарлаж
              өгдөг. Шинэ сонин зүйл байнга санаачилж, хэрэгжүүлдэг. Ажлын
              дундуур иог хийх, хөгжим сонсох, онигоо ярих чадвараа хөгжүүлэх нь
              чөлөөтэй. ESports-ын гавъяат тамирчид олонтой.
            </p>
          </article>
        </section>
        <!-- Баруун талд байх компаны мэдээлэл -->
        <section class="rightSideText">
          <section>
            <label for="байрлал">Байрлал</label>
            <label for="Mongolia">Mongolia</label>
          </section>
          <section>
            <label for="байрлал">Ажилчдын тоо</label>
            <label for="Mongolia">11 - 50</label>
          </section>
          <section>
            <label for="байрлал">Байгуулагдсан</label>
            <label for="Mongolia">December 2019</label>
          </section>
          <section>
            <label for="байрлал">Салбар</label>
            <label for="Mongolia">Jobs and recruitment</label>
          </section>
          <section>
            <label for="байрлал">Вебсайт</label>
            <label for="Mongolia"><a href="index.html">nito.one</a></label>
          </section>
          <section>
            <label for="байрлал">Facebook</label>
            <label for="Mongolia"
              ><a href="https://www.facebook.com/NITO.ONE/"
                >View on Facebook</a
              ></label
            >
          </section>
          <section>
            <label for="байрлал">Linkedin</label>
            <label for="Mongolia"
              ><a href="https://www.linkedin.com/company/nitotech/"
                >View on Linkedin</a
              ></label
            >
          </section>
          <section>
            <label for="байрлал">Twitter</label>
            <label for="Mongolia"
              ><a href="https://twitter.com/nitoapp">View on Twitter</a></label
            >
          </section>
        </section>
      </section>
      <!-- Багийн гишүүдийн slider хэсэг -->
      <section class="teamSlider">
        <h2>Удирдлагын баг</h2>
        <section class="sliderSection">
          <label for="firstSlide" class="firstSlide">
            <section class="member1">
              <img src="img/aboutUsImg/profile1.png" alt="emplyee1" />
              <h1>Билгүүн</h1>
              <p>Үйл ажиллагаа хариуцсан захирал</p>
            </section>
            <section class="member2">
              <img src="img/aboutUsImg/profile2.png" alt="emplyee2" />
              <h1>Баасанхүү</h1>
              <p>Үүсгэн байгуулагч, Бүтээгдэхүүн хөгжүүлэгч</p>
            </section>
            <section class="member3">
              <img src="img/aboutUsImg/profile3.png" alt="emplyee3" />
              <h1>Саруулбаяр</h1>
              <p>Гүйцэтгэх захирал</p>
            </section>
          </label>
          <label for="secondSlide" class="secondSlide">
            <section class="member4">
              <img src="img/aboutUsImg/profile4.png" alt="emplyee4" />
              <h1>Билгүүн</h1>
              <p>Үйл ажиллагаа хариуцсан захирал</p>
            </section>
            <section class="member5">
              <img src="img/aboutUsImg/profile5.png" alt="emplyee5" />
              <h1>Баасанхүү</h1>
              <p>Үүсгэн байгуулагч, Бүтээгдэхүүн хөгжүүлэгч</p>
            </section>
            <section class="member6">
              <img src="img/aboutUsImg/profile6.png" alt="emplyee6" />
              <h1>Саруулбаяр</h1>
              <p>Гүйцэтгэх захирал</p>
            </section>
          </label>
          <label for="thirdSlide" class="thirdSlide">
            <section class="member7">
              <img src="img/aboutUsImg/profile7.png" alt="emplyee7" />
              <h1>Билгүүн</h1>
              <p>Үйл ажиллагаа хариуцсан захирал</p>
            </section>
            <section class="member8">
              <img src="img/aboutUsImg/profile8.png" alt="emplyee8" />
              <h1>Баасанхүү</h1>
              <p>Үүсгэн байгуулагч, Бүтээгдэхүүн хөгжүүлэгч</p>
            </section>
            <section class="member9">
              <img src="img/aboutUsImg/profile9.png" alt="emplyee9" />
              <h1>Саруулбаяр</h1>
              <p>Гүйцэтгэх захирал</p>
            </section>
          </label>
        </section>
      </section>
      <!-- Ажлын байрны зураг (office photo) -->
      <section class="imgSlider">
        <img
          class="officeImg1"
          src="img/aboutUsImg/office1.png"
          alt="offcie1"
        />
        <img
          class="officeImg2"
          src="img/aboutUsImg/office2.png"
          alt="offcie2"
        />
        <img
          class="officeImg3"
          src="img/aboutUsImg/office3.png"
          alt="offcie3"
        />
      </section>
      <!-- <section>
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FNITO.ONE%2Fvideos%2F206719941665521%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
        </section> -->
    </main>
    <!-- footer хэсэг -->
    <nito-footer></nito-footer>

    <section class="copyright">
      <hr />
      <p>© 2021 Nito Pte Ltd. All rights reserved</p>
    </section>
  </body>
</html>
