<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Nito Job BestJob BestEmployer Employer Employee BestSalary Salary BestTeam Team Ажил Ажилтан Мэргэжилтэн Өндөр Цалин Тухтай оффис Баг хамт олон"
    />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <!-- icon links -->
    <script
      src="https://kit.fontawesome.com/ce25a366df.js"
      crossorigin="anonymous"
    ></script>
    <!-- css links -->
    <link rel="stylesheet" href="../css/index/header.css" />
    <link rel="stylesheet" href="../css/index/footer.css" />
    <link rel="stylesheet" href="../css/blog/blogMore.css" />
    <!-- js links -->
    <script src="../components/HeaderDefault.js" type="module"></script>
    <script src="../components/Footer.js" type="module"></script>

    <title>Блог дэлгэрэнгүй</title>
  </head>
  <body>
    <!-- header буюу navigation хэсэг -->
    <header-default></header-default>
    <section id="blogDetails"></section>
    <!-- <section id="blogContent">
        <section>
            <h1>Шинэхэн төгсөгчийг ажилд авах 5 шалтгаан</h1>
            <p>2021-12-14</p>
        </section>
        <picture>
            <source media="(min-width: 750px)" srcset="img/blogMoreImg/blog1.png">
            <img src="img/blogMoreImg/blog1.png" alt="blogImage">
        </picture>
        <article>
            <p>
                Танай байгууллагын хэмжээнээс үл хамаараад шинэ төгсөгчид танай компанид маш их үнэ цэнийг авч ирж чадна гэдгийг хүний нөөцийн шилдгүүд зөвлөдөг. Мэдээж дөнгөж сургуулиа төгссөн залууг ажилд авахаас эмээх, эрсдэлтэй гэж бодох боломжтой. Гэхдээ хүн ажилд авна гэдэг өөрөө эрсдэлтэй зүйл. Хэнийг ч ажилд авсан тодорхой хэмжээний эрсдэл үүрч л байдаг. Тэгэхээр танд энэ эрсдлээс үл хамаараад шинэхэн төгсөгчдийг ажилд авах 5 шалтгааныг танилцуулж байна. 
            </p>
        </article>
        <article>
            <p>
                • <strong>Тэд илүү тэмүүлэлтэй</strong> – Танд ч гэсэн шинэхэн байсан үе мэдээж байгаа. Хамгийн эхний ажилдаа орох догдлол, тэр байгууллагад бүх хүчээ зориулаад өөрийнхөө хэн болохыг бусдад, компанид, хамгийн чухал нь өөртөө нотлох хүсэл байдаг л байсан байх. Судалгаагаар Millenials болон GenZ өмнөх үеийнхнээсээ илүү хурднаар карьерийн шатаар өгсөх хүсэлтэй байдаг ба энэ их хурдтай өсөх хүслийг яагаад зөвөөр ашиглаж болохгүй гэж?
            </p>
        </article>
        <article>
            <p>
                • <strong>Харах шинэ өнцөг авч ирдэг</strong> – Олон өөр generation-ий хүн цуглуулах нь компанид шинэ үзэл бодол, хандлага, харах өнцгийг авч ирдэг. Залуу ажилтнуудтай байх нь танай компани одоо явж буй цаг үеийн тренд, чиг хандлагыг алдалгүй дагахад тусална.
            </p>
        </article>
        <article>
            <p>
                • <strong>Харах шинэ өнцөг авч ирдэг</strong> – Олон өөр generation-ий хүн цуглуулах нь компанид шинэ үзэл бодол, хандлага, харах өнцгийг авч ирдэг. Залуу ажилтнуудтай байх нь танай компани одоо явж буй цаг үеийн тренд, чиг хандлагыг алдалгүй дагахад тусална.
            </p>
        </article>
        <article>
            <p>
                • <strong>Тэд илүү уян хатан</strong> – Тэд бариан дээр байгаа учраас аль хэдийн аялал нь эд дундаа орсон хүмүүстэй харьцуулахад өмнөх ажлын туршлага, хэвшмэл зуршил сууж амжаагүй тул шинэ соёл, ажлын цагт нээлттэй ханддаг. Мөн ажилдаа цаг зарцуулах,хичээл зүтгэл гаргах боломж нь гэр бүлтэй, давхар өөр ажил эрхэлдэг хүмүүсээс харьцангуй өндөр байдаг.
            </p>
        </article>
        <article>
            <p>
                • <strong>Суралцах боломж</strong> – Тэд таны өгсөн шинэ мэдлэг, мэдээллийг ус шиг шингээн авдаг sponge л гэсэн үг. Та хамгийн анхны ментор, багш нь байж, компанийнхаа аль үүрэг дээр зохицно гэж бодсон газраа бэлтгэж, мэргэшүүлэх боломжтой.
            </p>
        </article>
        <article>
            <p>
                • <strong>Цаадуул чинь tech-savvy</strong> – Технологиор хүрээлүүлэн өссөн нь шинэ технологи, хэрэгслүүдийг хурдтай эзэмших чадварыг тэдэнд өгсөн. Ажилд хэрэглэгдэх hardware, software-ийг илүү түргэн хугацаанд чадварлаг эзэмшиж, бусдадаа ашиглахад туслах ч боломжтой.
            </p>
        </article>
        <article>
            <p>
                Технологийн шилдгүүдийг ажилд авахаас илүү бахархалтай зүйл юу байдаг гээч,<strong>технологийн шилдгүүдийг бэлтгэх!</strong>
            </p>
        </article>
    </section> -->
    <!-- footer хэсэг -->
    <script src="../components/Footer.js" type="module"></script>
    <nito-footer></nito-footer>

    <section class="copyright">
      <hr />
      <p>© 2021 Nito Pte Ltd. All rights reserved</p>
    </section>
    <script type="module" src="../BlogDetails.js"></script>
  </body>
</html>
