<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Nito Job BestJob BestEmployer Employer Employee BestSalary Salary BestTeam Team Ажил Ажилтан Мэргэжилтэн Өндөр Цалин Тухтай оффис Баг хамт олон"
    />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <!-- icon links -->
    <script
      src="https://kit.fontawesome.com/ce25a366df.js"
      crossorigin="anonymous"
    ></script>
    <!-- css links -->
    <link rel="stylesheet" href="../css/index/header.css" />
    <link rel="stylesheet" href="../css/index/footer.css" />
    <!-- <link rel="stylesheet" h../ref="css/bigBanner.css"> -->
    <link rel="stylesheet" href="../css/index/cvUusgeh.css" />
    <link rel="stylesheet" href="../css/index/companySlider.css" />
    <link rel="stylesheet" href="../css/index/suggestion.css" />
    <link rel="stylesheet" href="../css/index/bestHelp.css" />
    <link rel="stylesheet" href="../css/index/whyNito.css" />
    <link rel="stylesheet" href="../css/index/talents.css" />
    <link rel="stylesheet" href="../css/index/video.css" />
    <link rel="stylesheet" href="../css/index/signUpHome.css" />
    <link rel="stylesheet" href="../css/index/companyBanner.css" />
    <script src="../components/HeaderDefault.js" type="module"></script>
    <script src="../components/Footer.js" type="module"></script>

    <title>Nito Home</title>
  </head>
  <body>
    <!-- header буюу navigation хэсэг -->
    <header-default></header-default>

    <!-- гол content байх хэсэг -->
    <main>
      <!-- 1. Гоё төсөл өөрөө чамайг олно хэсэг -->
      <section class="bigBannerCompany">
        <section class="companyBannerGlass">
          <section class="bannerTopCompnay">
            <h1 class="titleCompanyBanner">Өрсөлдөөнд</h1>
            <h1>ялах багаа</h1>
            <h1>бүрдүүл</h1>
            <p>
              Шилдэг компаниудыг технологи, бизнесийн нарийн мэргэжил
              талентүүдтай холбоно
            </p>
            <button>Зар оруулах - үнэгүй</button>
          </section>
          <section class="bannerBottomCompnay">
            <p>
              Нито-оор дамжуулж, 7-14 хоногт тохирох хүнээ олдог.
              <a class="titleCompanyBanner" href="#">Зар оруулах-Үнэгүй</a>
            </p>
          </section>
        </section>
      </section>
      <!-- 2. CV-гээ л үүсгэчих хэсэг -->
      <section class="gridCV">
        <section class="item1 showOnScroll">
          <h2>Шилдгүүдийг багтаа нэгтгэх хялбар, хурдан, үр дүнтэй шийдэл</h2>
          <p>Бизнесийн өсөлт авчрах баг хамт олон нь энд хүлээж байна</p>
        </section>
        <section class="item2 showOnScroll">
          <img src="img/homeCompanyImg/team1.png" alt="cv1" />
          <h3>Ажлын саналаа шилдэг талентуудад хүргэ</h3>
          <p>
            15,000 гаруй талентаас тохирох мэргэжилтнүүдэд нь ажлын саналаа
            хүргүүл
          </p>
        </section>
        <section class="item3 showOnScroll">
          <img src="img/homeCompanyImg/team2.png" alt="cv2" />
          <h3>Ажил олгогчийн брэндээ таниул</h3>
          <p>Брэндээ үүсгэн сурталчилж, шилдэгүүдийн анхаарлыг тат</p>
        </section>
        <section class="item4 showOnScroll">
          <img src="img/homeCompanyImg/team3.png" alt="cv3" />
          <h3>Хиймэл оюунд суурилсан технологи ашигла</h3>
          <p>Талент авах үйл явцыг ч технологиор удирд</p>
        </section>
      </section>
      <!-- 3. Хамтрагч байгууллагуудын slider байх хэсэг -->
      <section class="companySlider">
        <section class="sliderAllContainer">
          <button class="pre-btn">
            <i class="fa-solid fa-circle-arrow-right"></i>
          </button>
          <section class="sliderCompanies showOnScroll">
            <img src="img/Home/khanbank.png" alt="khanBank" />
            <img src="img/Home/callpro.png" alt="callPro" />
            <img src="img/Home/unitel.png" alt="unitel" />
            <img src="img/Home/ondo.png" alt="ondo" />
            <img src="img/Home/ard.png" alt="ard" />
            <img src="img/Home/andGlobal.png" alt="andGlobal" />
            <img src="img/Home/cu.png" alt="cu" />
            <img src="img/Home/gerege.png" alt="gerege" />
            <img src="img/Home/khasbank.png" alt="khasBank" />
            <img src="img/Home/fibo.png" alt="fibo" />
          </section>
          <button class="nxt-btn">
            <i class="fa-solid fa-circle-arrow-right"></i>
          </button>
        </section>
        <p>Бусад бизнес, технологийн шилдгүүдтэй <a href="#">танилц</a></p>
      </section>
      <!-- 3. Чамд ямар санал ирэх вэ? хэсэг -->
      <section class="gridSuggestion">
        <section class="suggestTitle showOnScroll">
          <h2>Энд ямар мэргэжилтнүүд байгаа вэ?</h2>
          <p>Бизнесийг тань амжилтад хүргэх хүнээ олно</p>
        </section>
        <section class="suggestBox1 showOnScroll">
          <img src="img/Home/suggest1.png" alt="engineering" />
          <h3>Engineering</h3>
          <p>Software Engineer, Hardware engineer, Database etc</p>
        </section>
        <section class="suggestBox2 showOnScroll">
          <img src="img/Home/suggest2.png" alt="dataScience" />
          <h3>Data Science</h3>
          <p>DevOps, Solutions Architect, Security Specialist</p>
        </section>
        <section class="suggestBox3 showOnScroll">
          <img src="img/Home/suggest3.png" alt="design" />
          <h3>Design</h3>
          <p>
            Product Designer, UX/UI Designer, UX Researcher, Graphic Designer
          </p>
        </section>
        <section class="suggestBox4 showOnScroll">
          <img src="img/Home/suggest4.png" alt="marketingSale" />
          <h3>Marketing / Sales</h3>
          <p>Marketing Specialist, Social Media Marketing, Sales Manager</p>
        </section>
        <section class="suggestBox5 showOnScroll">
          <img src="img/Home/suggest5.png" alt="LeadershipManagement" />
          <h3>Leadership / Management</h3>
          <p>CTO, CIO, HR Manager, Project / Product Managers</p>
        </section>
        <section class="suggestBox6 showOnScroll">
          <img src="img/Home/suggest6.png" alt="finance" />
          <h3>Finance</h3>
          <p>Financial Planning/ Analysis, Accountant, Risk management</p>
        </section>
      </section>
      <!-- 5. Шилдэг хүмүүс шилдэг компаниа олж ороход бид тусална хэсэг -->
      <section class="bestHelp">
        <article class="help1 showOnScroll">
          <h2>Шилдэг компаниудыг шилдэг талентуудтай холбоно</h2>
          <p>
            Технологи, бизнесийн шилдэг компаниуд Нито-гоос цахиур хагалах багаа
            бүрдүүлж байна
          </p>
        </article>
        <article class="help2 showOnScroll">
          <h3>15,000+</h3>
          <p>Бүртгэлтэй талент</p>
        </article>
        <article class="help3 showOnScroll">
          <h3>100+</h3>
          <p>Компани</p>
        </article>
        <article class="help4 showOnScroll">
          <h3>95%</h3>
          <p>Оновштой</p>
        </article>
        <article class="help5 showOnScroll">
          <h3>80,000</h3>
          <p>Ажлын санал</p>
        </article>
      </section>
      <!-- 6. Яагаад нито? хэсэг -->
      <section class="gridWhy">
        <section class="iconBoxTitle showOnScroll">
          <h2>Яагаад нито?</h2>
          <p>Нито-г сонгосноор танай компанид бий болох давуу талууд</p>
        </section>
        <section class="iconBox1 showOnScroll">
          <img src="img/homeCompanyImg/icon1.svg" alt="icon1" />
          <h3>Технологи, бизнесийн мэргэжилтны сан</h3>
          <p>
            Нарийн мэргэжлийн талентуудын ухаалаг хайлтын систем бүхий CV бааз
          </p>
        </section>
        <section class="iconBox2 showOnScroll">
          <img src="img/homeCompanyImg/icon2.svg" alt="icon2" />
          <h3>Өвөрмөц шийдэл</h3>
          <p>Хиймэл оюуны тусламжтай оновчтой, хурдтай Талент бүрдүүлэлт</p>
        </section>
        <section class="iconBox3 showOnScroll">
          <img src="img/homeCompanyImg/icon3.svg" alt="icon3" />
          <h3>Мэргэжлийн VIP үйлчилгээ</h3>
          <p>
            Технологи, хүний мэдрэмж хослуулсан талент бүрдүүлэлтийн мэргэжлийн
            үйлчилгээ
          </p>
        </section>
        <section class="iconBox4 showOnScroll">
          <img src="img/homeCompanyImg/icon4.svg" alt="icon4" />
          <h3>Ажил олгогчийн брэнд хуудас</h3>
          <p>
            Танай байгууллагад ажиллахад ямар байдгийг эрэлттэй талентуудад
            мэдрүүлэх боломж
          </p>
        </section>
        <section class="iconBox5 showOnScroll">
          <img src="img/homeCompanyImg/icon5.svg" alt="icon5" />
          <h3>Мэргэжлийн маркетингийн үйлчилгээ</h3>
          <p>
            Мэргэжлийн багаар сошиал медиа, видео контент бэлтгүүлж, брэндээ
            сурталчил
          </p>
        </section>
        <section class="iconBox6 showOnScroll">
          <img src="img/homeCompanyImg/icon6.svg" alt="icon6" />
          <h3>Мэргэжлийн туслалцаа</h3>
          <p>
            Байгууллагын ажилтнуудад сэтгэл зүйч, мэргэжилтнүүд зөвлөгөө өгөх
            үйлчилгээ
          </p>
        </section>
      </section>
      <!-- 7. Талентуудын сэтгэгдэл хэсэг -->
      <section class="gridTalents">
        <section class="darkGlassTalent">
          <section class="chatBoxTitle showOnScroll">
            <h2>Талентуудын сэтгэгдэл</h2>
            <p>15,000+ талент Нито-гоор дамжуулж ажлын санал авч байна</p>
          </section>
          <section class="leftChatBox showOnScroll">
            <img src="img/homeCompanyImg/collabrator1.png" alt="andearon" />
            <section class="chatBox">
              <p>
                Цалингийн хэмжээг тогтмол байлгадаг биш, доод хязгаараас дээд
                хязгаар гэж тодорхойлдог нь таалагддаг. Үнэхээр чадвартай бол
                өндөр цалин өгч яагаад болохгүй гэж.
                <strong
                  >Манайх UI/UX Designer-ийн ажлын зарлалаа оруулаад 7 хоногийн
                  дотор хайж байсан дезайнераа олж чадсан.</strong
                >
              </p>
              <h4>Тэлмүүн</h4>
              <p>HR</p>
            </section>
          </section>
          <section class="rightChatBox showOnScroll">
            <img src="img/homeCompanyImg/collabrator2.png" alt="callProIcon" />
            <section class="chatBox">
              <p>
                Ашиглахад маш хялбар байдаг. Тухайн мэргэжлийн яг тохирсон
                хүмүүстээ шууд хүрдэг болохоор ажлын зарлалаа оруулаад 7
                хоногийн дотор хайж байсан хүнээ авсан.
                <strong
                  >"1 ажлын зарлал дээр 30 CV ирж, дахиж гараар шүүх хэрэг
                  гараагүй”</strong
                >
              </p>
              <h4>Пүрэвням</h4>
              <p>HR</p>
            </section>
          </section>
          <section class="leftChatBox showOnScroll">
            <img
              src="img/homeCompanyImg/collabrator3.png"
              alt="dataArrtistIcon"
            />
            <section class="chatBox">
              <p>
                Ашиглахад хялбархан үр дүн сайтай санагдсан. Маш энгийн чөлөөтэй
                байдлаар ажлын зар байршуулж манай зарыг сонирхож буй залуусын
                талаар тухай бүрт нь мэдэгдэл ирж байсан нь таалагдсан. Мөн
                хамгийн чухал зүйл нь
                <strong
                  >Nito-н зүгээс цаг ямарт манайхтай холбогдож care хийж байгаа
                  явдал</strong
                >
                бусад платформуудаас хувь илүү байлаа
              </p>
              <h4>Батзаяа</h4>
              <p>CEO</p>
            </section>
          </section>
        </section>
      </section>
      <!-- video -->
      <section class="VideoSection">
        <video autoplay muted loop>
          <source src="video/1920.mp4" type="video/mp4" />
        </video>
      </section>
      <!-- 8. Бүртгүүлэх хэсэг -->
      <section class="signUpSection">
        <h2 class="showOnScroll">Үнэгүй туршаад үзээрэй</h2>
        <p class="showOnScroll">
          Будад платформуудаас 4 дахин хурдан, зуучлах үйлчилгээнээс 5 дахин
          хямд
        </p>
        <iframe
          class="showOnScroll"
          src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FNITO.ONE%2Fvideos%2F246881813920572%2F&show_text=false&width=476&t=0"
          width="476"
          height="476"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          allowfullscreen="true"
        ></iframe>
        <form action="signUpCompany.html" class="showOnScroll">
          <button class="showOnScroll" type="submit">Турших</button>
        </form>
      </section>
    </main>
    <!-- footer хэсэг -->
    <nito-footer></nito-footer>

    <section class="copyright">
      <hr />
      <p>© 2021 Nito Pte Ltd. All rights reserved</p>
    </section>
    <script>
      var scroll =
        window.requestAnimationFrame ||
        function (callback) {
          window.setTimeout(callback, 1000 / 60);
        };
      var elementToShow = document.querySelectorAll(".showOnScroll");

      function loop() {
        elementToShow.forEach(function (element) {
          if (isElementInViewport(element)) {
            element.classList.add("isVisible");
          } else {
            element.classList.remove("isVisible");
          }
        });
        scroll(loop);
      }

      loop();

      function isElementInViewport(el) {
        if (typeof jQuery === "function" && el instanceof jQuery) {
          el = el[0];
        }
        var rect = el.getBoundingClientRect();
        return (
          (rect.top <= 0 && rect.bottom >= 0) ||
          (rect.bottom >=
            (window.innerHeight || document.documentElement.clientHeight) &&
            rect.top <=
              (window.innerHeight || document.documentElement.clientHeight)) ||
          (rect.top >= 0 &&
            rect.bottom <=
              (window.innerHeight || document.documentElement.clientHeight))
        );
      }

      // Compnay slider-nii js script
      const companySlidContainer = [
        ...document.querySelectorAll(".sliderCompanies"),
      ];
      const daraaBtn = [...document.querySelectorAll(".nxt-btn")];
      const omnoBtn = [...document.querySelectorAll(".pre-btn")];
      companySlidContainer.forEach((item, i) => {
        let containerDimensions = item.getBoundingClientRect();
        let containerWidth = containerDimensions.width / 4;

        daraaBtn[i].addEventListener("click", () => {
          item.scrollLeft += containerWidth;
        });

        omnoBtn[i].addEventListener("click", () => {
          item.scrollLeft -= containerWidth;
        });
      });
    </script>
  </body>
</html>
