<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Nito Job BestJob BestEmployer Employer Employee BestSalary Salary BestTeam Team Ажил Ажилтан Мэргэжилтэн Өндөр Цалин Тухтай оффис Баг хамт олон"
    />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <!-- icon links -->
    <script
      src="https://kit.fontawesome.com/ce25a366df.js"
      crossorigin="anonymous"
    ></script>
    <!-- css links -->
    <link rel="stylesheet" href="../css/index/header.css" />
    <link rel="stylesheet" href="../css/index/footer.css" />
    <link rel="stylesheet" href="../css/index/bigBanner.css" />
    <link rel="stylesheet" href="../css/index/cvUusgeh.css" />
    <link rel="stylesheet" href="../css/index/companySlider.css" />
    <link rel="stylesheet" href="../css/index/suggestion.css" />
    <link rel="stylesheet" href="../css/index/bestHelp.css" />
    <link rel="stylesheet" href="../css/index/whyNito.css" />
    <link rel="stylesheet" href="../css/index/talents.css" />
    <link rel="stylesheet" href="../css/index/video.css" />
    <link rel="stylesheet" href="../css/index/signUpHome.css" />
    <!-- javascript links -->
    <script src="../components/HeaderDefault.js" type="module"></script>
    <script src="../components/Footer.js" type="module"></script>

    <!-- <script src="../components/HeaderProfile.js" type="module"></script> -->
    <!-- <script src="js/showOnScroll.js"></script> -->
    <!-- <script src="js/navHide.js"></script> -->
    <script src="../js/companySlider.js"></script>
    <!-- <script type="module" src="../ComponentRoot.js"></script> -->
    <title>Nito Home</title>
  </head>
  <body>
    <!-- header буюу navigation хэсэг -->
    <!-- <div id="headerChanger"></div> -->
    <header-default></header-default>
    <!-- гол content байх хэсэг -->
    <main>
      <!-- 1. Гоё төсөл өөрөө чамайг олно хэсэг -->
      <section class="bigBanner">
        <section class="blackGlass">
          <section class="bannerTop">
            <h1 class="textColorOrange titleAnimation">Гоё төсөл</h1>
            <h1>өөрөө</h1>
            <h1>чамайг олно</h1>
            <p>
              Нито-д бүртгүүлээд бизнес технологийн шилдгүүдээс ажлын санал
              хүлээн ав
            </p>
            <button>Бүртгүүлэх - үнэгүй</button>
          </section>
          <section class="bannerBottom">
            <p>
              Нито-оор дамжуулж, 7-14 хоногт тохирох хүнээ олдог.
              <a class="textColorOrange" href="#">Зар оруулах-Үнэгүй</a>
            </p>
          </section>
        </section>
      </section>
      <!-- 2. CV-гээ л үүсгэчих хэсэг -->

      <section id="gridCVuusgeh" class="gridCV">
        <section class="item1 showOnScroll">
          <article class="how">Яаж гэж үү?</article>
          <h2>CV-гээ л үүсгэчих</h2>
          <p>
            Компаниуд чамд ажлын саналаа цалингийн мэдээлэлтэйгээ хамт хүргүүлнэ
          </p>
        </section>
        <section class="item2 showOnScroll">
          <img src="../img/Home/cv1.png" alt="cv1" />
          <h3>Харьцуулах боломж</h3>
          <p>
            100+ компанийн ил тод мэдээлэлтэй ажлын саналыг зарлагдсан дариуд нь
            имэйлээр аваад харьцуул
          </p>
        </section>
        <section class="item3 showOnScroll">
          <img src="../img/Home/cv2.png" alt="cv2" />
          <h3>Хялбар процесс</h3>
          <p>
            Чадвар туршлага тодорхойлсон мэргэжлийн CV, онлайн ярилцлага, хялбар
            ойлгомжтой шат дарааллаар шинэ багтаа нэгд
          </p>
        </section>
        <section class="item4 showOnScroll">
          <img src="../img/Home/cv3.png" alt="cv3" />
          <h3>Ажилд орсны урамшуулал</h3>
          <p>
            Signing bonus-тай ажлын санал буюу шинэ ажилд орсны урамшуулал авах
            боломж
          </p>
        </section>
      </section>
      <!-- 3. Хамтрагч байгууллагуудын slider байх хэсэг -->
      <section class="companySlider">
        <section class="sliderAllContainer">
          <button class="pre-btn">
            <i class="fa-solid fa-circle-arrow-right"></i>
          </button>
          <section class="sliderCompanies showOnScroll">
            <img src="../img/Home/khanbank.png" alt="khanBank" />
            <img src="../img/Home/callpro.png" alt="callPro" />
            <img src="../img/Home/unitel.png" alt="unitel" />
            <img src="../img/Home/ondo.png" alt="ondo" />
            <img src="../img/Home/ard.png" alt="ard" />
            <img src="../img/Home/andGlobal.png" alt="andGlobal" />
            <img src="../img/Home/cu.png" alt="cu" />
            <img src="../img/Home/gerege.png" alt="gerege" />
            <img src="../img/Home/khasbank.png" alt="khasBank" />
            <img src="../img/Home/fibo.png" alt="fibo" />
          </section>
          <button class="nxt-btn">
            <i class="fa-solid fa-circle-arrow-right"></i>
          </button>
        </section>
        <p>Бусад бизнес, технологийн шилдгүүдтэй <a href="#">танилц</a></p>
      </section>
      <!-- 4. Чамд ямар санал ирэх вэ? хэсэг -->
      <section id="jobOffers" class="gridSuggestion">
        <section class="suggestTitle showOnScroll">
          <h2>Чамд ямар санал ирэх вэ?</h2>
          <p>Чамайг үнэлэх баг, хөгжих боломжийг санал болгоно</p>
        </section>
        <section class="suggestBox1 showOnScroll">
          <img src="../img/Home/suggest1.png" alt="engineering" />
          <h3>Engineering</h3>
          <p>Software Engineer, Hardware engineer, Database etc</p>
        </section>
        <section class="suggestBox2 showOnScroll">
          <img src="../img/Home/suggest2.png" alt="dataScience" />
          <h3>Data Science</h3>
          <p>DevOps, Solutions Architect, Security Specialist</p>
        </section>
        <section class="suggestBox3 showOnScroll">
          <img src="../img/Home/suggest3.png" alt="design" />
          <h3>Design</h3>
          <p>
            Product Designer, UX/UI Designer, UX Researcher, Graphic Designer
          </p>
        </section>
        <section class="suggestBox4 showOnScroll">
          <img src="../img/Home/suggest4.png" alt="marketingSale" />
          <h3>Marketing / Sales</h3>
          <p>Marketing Specialist, Social Media Marketing, Sales Manager</p>
        </section>
        <section class="suggestBox5 showOnScroll">
          <img src="../img/Home/suggest5.png" alt="LeadershipManagement" />
          <h3>Leadership / Management</h3>
          <p>CTO, CIO, HR Manager, Project / Product Managers</p>
        </section>
        <section class="suggestBox6 showOnScroll">
          <img src="../img/Home/suggest6.png" alt="Engineering" />
          <h3>Finance</h3>
          <p>Financial Planning/ Analysis, Accountant, Risk management</p>
        </section>
      </section>
      <!-- 5. Шилдэг хүмүүс шилдэг компаниа олж ороход бид тусална хэсэг -->
      <section class="bestHelp">
        <article class="help1 showOnScroll">
          <h2>Шилдэг хүмүүс шилдэг компаниа олж ороход бид тусалдаг</h2>
          <p>
            Технологийн шилдэг компаниуд Нито-гоос өрсөлдөөнд ялах багаа
            бүрдүүлж байна.
          </p>
        </article>
        <article class="help2 showOnScroll">
          <h3>15,000+</h3>
          <p>Бүртгэлтэй талент</p>
        </article>
        <article class="help3 showOnScroll">
          <h3>100+</h3>
          <p>Компани</p>
        </article>
        <article class="help4 showOnScroll">
          <h3>95%</h3>
          <p>Оновчтой</p>
        </article>
        <article class="help5 showOnScroll">
          <h3>14 хоногт</h3>
          <p>Ажилд авдаг</p>
        </article>
      </section>
      <!-- 6. Яагаад нито? хэсэг -->
      <section id="jobreasons" class="gridWhy">
        <section class="iconBoxTitle showOnScroll">
          <h2>Яагаад нито?</h2>
          <p>Нито-г сонгосноор үүсэх давуу тал</p>
        </section>

        <section class="iconBox1 showOnScroll">
          <img src="../img/Home/starIcon.svg" alt="icon1" />
          <h3>Шилдэг компаниуд</h3>
          <p>
            100+ шилдэг компаниас сонирхол, чадварт чинь нийцэхтэй нь холбож
            өгнө.
          </p>
        </section>
        <section class="iconBox2 showOnScroll">
          <img src="../img/Home/likeIcon.svg" alt="icon2" />
          <h3>Хялбар процесс</h3>
          <p>
            Бүртгүүлэхэд ажлын саналууд өөрсдөө ирнэ. Харьцуулаад, ганцхан товч
            дарж CV-гээ хүргүүл.
          </p>
        </section>
        <section class="iconBox3 showOnScroll">
          <img src="../img/Home/shieldIcon.svg" alt="icon3" />
          <h3>Аюулгүй дата</h3>
          <p>
            Хувийн мэдээлэл бага, зөвхөн ажил мэргэжлийн data авч найдвартай
            хадгална
          </p>
        </section>
        <section class="iconBox4 showOnScroll">
          <img src="../img/Home/headphoneIcon.svg" alt="icon4" />
          <h3>Мэргэжлийн туслалцаа</h3>
          <p>
            Хиймэл оюунт технологийн хүчийг хүний мэдрэмжтэй хослуулсан
            үйлчилгээ үзүүлнэ.
          </p>
        </section>
        <section class="iconBox5 showOnScroll">
          <img src="../img/Home/peopleIcon.svg" alt="icon5" />
          <h3>Технологийн салбарынхны хүрээлэл</h3>
          <p>
            Технологи, бизнесийн шилдгүүдэд зориулсан арга хэмжээнд оролцох,
            хамтрах боломж.
          </p>
        </section>
        <section class="iconBox6 showOnScroll">
          <img src="../img/Home/eyeIcon.svg" alt="icon6" />
          <h3>Ил тод байдал</h3>
          <p>
            Компаниудын зорилго, үнэт зүйлс, хамт олон, цалин, үнэлгээ зэрэг ил
            тод мэдээлэлд суурилан шийдвэрээ гаргаарай.
          </p>
        </section>
      </section>
      <!-- 7. Талентуудын сэтгэгдэл хэсэг -->
      <section class="gridTalents">
        <section class="darkGlassTalent">
          <section class="chatBoxTitle showOnScroll">
            <h2>Талентуудын сэтгэгдэл</h2>
            <p>15,000+ талент Нито-гоор дамжуулж ажлын санал авч байна</p>
          </section>
          <section class="leftChatBox showOnScroll">
            <img src="../img/Home/talentLogo1.png" alt="bolorsoftIcon" />
            <section class="chatBox">
              <p>
                "<strong>CV-гээ явуулаад 1 өдрийн дараа шууд ажилд орсон</strong
                >". Дундын этгээд байхгүй, шууд компани талент хоёр хоорондоо
                харилцаад явах нь маш хялбар санагдсан. CV-ээ бөглөчихсөн байхад
                л ажлын саналууд ирдэг.
              </p>
              <h4>Э.Саруул</h4>
              <p>UX/UI designer</p>
            </section>
          </section>
          <section class="rightChatBox showOnScroll">
            <img src="../img/Home/talentLogo2.png" alt="callProIcon" />
            <section class="chatBox">
              <p>
                Технологийн салбарын ажлын байрууд маш олон байсан тул хүссэн
                ажлаа олж, холбогдоход амар байсан. Ажлын байраа филтер хийхэд
                бусад төстэй компаниудын зарлал гарч ирж харьцуулдаг. ”<strong
                  >Пүрэв гаригт CV-гээ явуулаад Баасан гарагт ярилцлага хийж,
                  Даваа гарагаас нь ажилдаа орсон</strong
                >”
              </p>
              <h4>Нямдаваа</h4>
              <p>Software developer</p>
            </section>
          </section>
          <section class="leftChatBox showOnScroll">
            <img src="../img/Home/talentLogo3.png" alt="dataArrtistIcon" />
            <section class="chatBox">
              <p>
                Компаниудын танилцуулга, review байдаг болохоор тухайн компаниа
                судлаад таалагдсан компанидаа орох боломжтой байгаа нь
                таалагддаг. ”<strong
                  >CV-гээ явуулаад 7 хоногийн дотор ажилд орсон</strong
                >”
              </p>
              <h4>Г.Энх-Учрал</h4>
              <p>Front-end developer</p>
            </section>
          </section>
        </section>
      </section>
      <!-- video -->
      <section class="VideoSection">
        <video autoplay muted loop>
          <source src="../video/1920.mp4" type="video/mp4" />
        </video>
      </section>
      <!-- 8. Бүртгүүлэх хэсэг -->
      <section class="signUpSection">
        <h2 class="showOnScroll">Бүртгүүлэхэд 3-хан минут</h2>
        <p class="showOnScroll">
          Нито платформын инженер , хөгжүүлэгч, дизайнеруудад долоо хоногийн
          дотор 5+ санал ирдэг. Чамайг ч гэсэн ажлын санал хүлээж байна.
        </p>
        <iframe
          class="showOnScroll"
          src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FNITO.ONE%2Fvideos%2F246881813920572%2F&show_text=false&width=476&t=0"
          width="476"
          height="476"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          allowfullscreen="true"
        ></iframe>
        <form action="signUp.html" class="showOnScroll">
          <button type="submit" class="showOnScroll">Бүртгүүлэх</button>
        </form>
      </section>
      <nito-footer></nito-footer>
    </main>
    <!-- footer хэсэг -->

    <section class="copyright">
      <hr />
      <p>© 2021 Nito Pte Ltd. All rights reserved</p>
    </section>
    <script type="text/javascript">
      var scroll =
        window.requestAnimationFrame ||
        function (callback) {
          window.setTimeout(callback, 1000 / 60);
        };
      var elementToShow = document.querySelectorAll(".showOnScroll");
      function loop() {
        elementToShow.forEach(function (element) {
          if (isElementInViewport(element)) {
            element.classList.add("isVisible");
          } else {
            element.classList.remove("isVisible");
          }
        });
        scroll(loop);
      }

      loop();

      function isElementInViewport(el) {
        if (typeof jQuery === "function" && el instanceof jQuery) {
          el = el[0];
        }
        var rect = el.getBoundingClientRect();
        return (
          (rect.top <= 0 && rect.bottom >= 0) ||
          (rect.bottom >=
            (window.innerHeight || document.documentElement.clientHeight) &&
            rect.top <=
              (window.innerHeight || document.documentElement.clientHeight)) ||
          (rect.top >= 0 &&
            rect.bottom <=
              (window.innerHeight || document.documentElement.clientHeight))
        );
      }

      // if (document.cookie === "") {
      //   document.cookie = null;
      // }
      // // console.log(localStorage.getItem("userId"));
      // console.log("cookie: " + document.cookie);
      // // localStorage.getItem("userId")
      // if (document.cookie >= 0) {
      //   document.getElementById("headerChanger").innerHTML =
      //     "<header-profile></header-profile>";
      // } else {
      //   // localStorage.setItem("userId", null);
      //   document.getElementById("headerChanger").innerHTML =
      //     "<header-default></header-default>";
      // }

      // Compnay slider-nii js script
      const companySlidContainer = [
        ...document.querySelectorAll(".sliderCompanies"),
      ];
      const daraaBtn = [...document.querySelectorAll(".nxt-btn")];
      const omnoBtn = [...document.querySelectorAll(".pre-btn")];
      companySlidContainer.forEach((item, i) => {
        let containerDimensions = item.getBoundingClientRect();
        let containerWidth = containerDimensions.width / 4;

        daraaBtn[i].addEventListener("click", () => {
          item.scrollLeft += containerWidth;
        });

        omnoBtn[i].addEventListener("click", () => {
          item.scrollLeft -= containerWidth;
        });
      });
    </script>
    <script type="module">
      console.log(document.cookie.value);

      const setToken = async () => {
        //   console.log(data);
        fetch("http://localhost:5000/user/cookie", {
          method: "GET",
        })
          .then((res) => res.json())
          .then((data) => console.log(data));
        // .then((data) => {
        // })
        // .catch((error) => console.log(error));
      };
      setToken();
    </script>
  </body>
</html>
