<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ce25a366df.js"
      crossorigin="anonymous"
    ></script>
    <!-- css links -->
    <link rel="stylesheet" href="../css/index/header.css" />
    <link rel="stylesheet" href="../css/index/footer.css" />
    <link rel="stylesheet" href="../css/signIn/forgot.css" />
    <script src="../components/HeaderDefault.js" type="module"></script>
    <script src="../components/Footer.js" type="module"></script>

    <title>Nito | Нууц үг сэргээх</title>
  </head>
  <body>
    <!-- header буюу navigation хэсэг -->
    <header-default></header-default>
    <main>
      <section class="forgotContainer">
        <section class="sendEmail">
          <h1>Нууц үгээ мартсан?</h1>
          <p>
            Бүртгүүлж байсан имэйл хаягаа оруулна уу, бид танд нууц үгээ сэргээх
            заавар илгээх болно
          </p>
          <section class="emailInput">
            <p>Имэйл</p>
            <input
              type="email"
              name="email"
              placeholder="yourMail@domain.com"
            />
          </section>
          <p>Бүртгүүлж байсан имэйл</p>
          <button>Шинэчлэх</button>
        </section>
        <section class="sentPage">
          <h1>Заавар илгээлээ</h1>
          <p>Та имэйлээ шалгана уу.</p>
          <img
            src="img/instructionImg/construction.png"
            alt="Нууц үгээр мартсан"
          />
          <p>
            Таны оруулсан <strong>yourMail@gmail.com</strong> хаяг манайд
            бүртгэлтэй бол нууц үг сэргээх заавраа хүлээн авах болно.
          </p>
          <section class="zuraas"></section>
          <a href="#">Дахин илгээх</a>
        </section>
      </section>
    </main>
    <!-- footer хэсэг -->
    <nito-footer></nito-footer>

    <section class="copyright">
      <hr />
      <p>© 2021 Nito Pte Ltd. All rights reserved</p>
    </section>
  </body>
</html>
