<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Nito Job BestJob BestEmployer Employer Employee BestSalary Salary BestTeam Team Ажил Ажилтан Мэргэжилтэн Өндөр Цалин Тухтай оффис Баг хамт олон"
    />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <script
      src="https://kit.fontawesome.com/ce25a366df.js"
      crossorigin="anonymous"
    ></script>
    <!-- css links -->
    <link rel="stylesheet" href="css/index/header.css" />
    <link rel="stylesheet" href="css/index/footer.css" />
    <link rel="stylesheet" href="css/signUp/signUp.css" />
    <title>Sign up</title>
  </head>
  <body>
    <!-- header буюу navigation хэсэг -->
    <header>
      <a class="logo" href="indexCompany.html"
        ><img src="img/Home/nitoLogo.svg" alt="nitoLogo"
      /></a>
      <nav>
        <input type="checkBox" id="check" />
        <label for="check" class="checkBtn">
          <i class="fa-solid fa-bars"></i>
        </label>
        <ul class="navLinks">
          <li><a href="indexCompany.html">Home</a></li>
          <li>
            <ul>
              <li>
                <a href="index.html"
                  >Ажилтан <i class="fa-solid fa-address-book"></i
                ></a>
              </li>
              <li>
                <a href="indexCompany.html"
                  >Компани <i class="fa-solid fa-building"></i
                ></a>
              </li>
            </ul>
          </li>
          <li><a href="aboutUs.html">Бидний тухай</a></li>
          <li><a href="blog.html">Блог</a></li>
          <li class="signInLink"><a href="signInCompany.html">Нэвтрэх</a></li>
          <a class="cta navActive" href="signUpCompany.html"
            ><button>Бүртгүүлэх</button></a
          >
        </ul>
      </nav>
    </header>
    <main>
      <section class="signInContainer">
        <section class="darkGlassSignUp">
          <section class="signInPage">
            <h1>Бүртгүүлэх</h1>
            <p>
              Нитод бүртгүүлээд технологи инновацийн тэргүүлэгчдээс ажлын санал
              хүлээн ав
            </p>
            <section class="chooseWhich">
              <section>
                <a href="signUp.html">Мэргэжилтнээр</a>
              </section>
              <section class="activeLink">
                <a href="signUpCompany.html">Компаниар</a>
              </section>
            </section>
            <button><i class="fa-brands fa-google"></i> Google</button>
            <section class="orSection">
              <p>эсвэл</p>
            </section>
            <section class="inputForm">
              <p>Нэр</p>
              <input type="text" name="name" placeholder="Нэр" />
              <p>Овог</p>
              <input type="text" name="Surname" placeholder="Овог" />
              <p>Имэйл</p>
              <input type="email" name="mail" placeholder="Имэйл" />
              <p>Нууц үг</p>
              <input
                type="password"
                name="password"
                placeholder="8-аас цөөнгүй"
              />
            </section>
            <button>Бүртгүүлэх</button>
            <section class="chooseWhich">
              <p>Бүртгэлтэй юу?</p>
              <a href="signIn.html">Нэвтрэх</a>
            </section>
          </section>
        </section>
      </section>
    </main>
    <!-- footer хэсэг -->
    <footer>
      <a class="footerLogo" href="index.html"
        ><img src="img/Home/nitoLogo.svg" alt="nitoLogo"
      /></a>
      <section class="links">
        <section>
          <h4>Quick Links</h4>
          <ul>
            <li><a href="aboutUs.html">Бидний тухай</a></li>
            <li><a href="contact.html">Холбогдох</a></li>
            <li><a href="blog.html">Блог</a></li>
            <li><a href="loginToCV/cv.html">Миний CV</a></li>
            <li><a href="loginToCV/jobs.html">Ажил хайх</a></li>
          </ul>
        </section>
        <section>
          <h4>Socials</h4>
          <ul>
            <li>
              <i class="fa-brands fa-facebook"></i>
              <a href="https://www.facebook.com/NITO.ONE/">facebook</a>
            </li>
            <li>
              <i class="fa-brands fa-instagram"></i>
              <a href="https://www.instagram.com/nito.app/">instagram</a>
            </li>
            <li>
              <i class="fa-brands fa-twitter"></i>
              <a href="https://twitter.com/nitoapp">twitter</a>
            </li>
            <li>
              <i class="fa-brands fa-linkedin"></i>
              <a href="https://www.linkedin.com/company/nitotech/">linkedin</a>
            </li>
          </ul>
        </section>
      </section>
    </footer>
    <section class="copyright">
      <hr />
      <p>© 2021 Nito Pte Ltd. All rights reserved</p>
    </section>
  </body>
</html>
