@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --textColor: #edf0f1;
    --greyBg: #24252a;
    --blueColor: #0088A9;
    --orangeColor: rgb(255, 166, 0);
    --glassDark: rgba(0, 0, 0, 0.623);
    --signGlass: rgba(0, 0, 0, 0.6);
    --signInBg: grey;
    --whiteBg: white;
    --whiteGlass: rgba(255, 255, 255, 0.663);
}
.signInContainer {
    width: 100%;
    height: 750px;
    background-image: url("../../img/Home/lookWindow2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.darkGlassSignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
    background-color: var(--glassDark);
}
.signInPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: var(--signGlass);
    color: var(--textColor);
    width: 450px;
    height: 500px;
    border-radius: 30px;
    padding: 20px 30px;
    margin: 0 10px;
}
.signInPage input {
    background-color: rgba(255, 255, 255, 0.75);
}
.signInPage .chooseWhich {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.signInPage h1 {
    font-size: 24px;
}
.signInPage a {
    color: var(--orangeColor);
    margin: 0 5px;
}
.chooseWhich li {
    list-style: none;
}
.signInPage a:hover {
    color: var(--blueColor);
}
.activeLink a {
    color: var(--blueColor);
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 195);
}
.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 35%;
}
.orSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-top: 1px dashed var(--whiteBg);
    border-bottom: 1px dashed var(--whiteBg);
}

.zuraas1 {
    width: 11vw;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}
.zuraas2 {
    width: 11vw;
    border: 1px solid black;
    padding: 0%;
    border-top: none;
    border-right: none;
    border-left: none;
}

@media only screen and (max-width: 600px) {
    .signInPage p, a {
        font-size: 12px;
    }
    .signInPage h1 {
        font-size: 16px;
    }
    button {
        font-size: 12px;
    }
}