<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="img/aboutUsImg/nitoOnlyLogo.png"
    />
    <!-- css links -->
    <link rel="stylesheet" href="../../css/index/header.css" />
    <link rel="stylesheet" href="../../css/index/footer.css" />
    <link rel="stylesheet" href="../../css/myCV/personInfo.css" />
    <!-- javascript links -->
    <script src="../../components/HeaderProfile.js" type="module"></script>
    <!-- <script src="../js/navHide.js"></script> -->
    <script
      src="https://kit.fontawesome.com/8ff3c400c9.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../../Cv.js"></script>
    <title>Nito CV</title>
  </head>
  <script src="./template.js"></script>
  <body>
    <!-- header буюу navigation хэсэг -->
    <header-profile></header-profile>
    <header id="navbar">
      <a class="logo" href="../index.html"
        ><img src="../../img/Home/nitoLogo.svg" alt="nitoLogo"
      /></a>
      <nav>
        <input type="checkBox" id="check" />
        <label for="check" class="checkBtn">
          <i class="fa-solid fa-bars"></i>
        </label>
        <ul class="navLinks">
          <li><a href="../index.html">Home</a></li>
          <li>
            <a class="navActive" href="cv.html"
              >Ажилтан CV<i class="fa-solid fa-address-book"></i
            ></a>
          </li>
          <li><a href="jobs.html">Ажил хайх</a></li>
          <li><a href="../aboutUs.html">Бидний тухай</a></li>
          <li><a href="../blog.html">Блог</a></li>
          <li class="signInLink"><a href="../signIn.html">Нэвтрэх</a></li>
          <a class="cta" href="../signUp.html"><button>Бүртгүүлэх</button></a>
        </ul>
      </nav>
    </header>
    <!-- Main section -->
    <main class="cvPage">
      <!-- CV үүсгэлтийн процесс -->
      <section id="cvComplete">
        <section class="cvCompleteText">
          <h1>Your CV Looks complete</h1>
          <p>
            Чамд тохирох ажлууд Нито - оос чамайг хайж байгаа.
            <a href="jobs.html">Эндээс</a> постлогдсон ажлуудыг үзэж байгаад
            ганц товч дараад CV ээ илгээх боломжтой.
          </p>
        </section>
        <img src="../../img/cv/cvComplete.png" alt="cvComplete" />
      </section>

      <!-- Personal Informations -->
      <section class="cvMainInfo">
        <section class="cvMainTop">
          <div class="date">
            <i class="fa-solid fa-clock"></i>
            <p>Сүүлд шинэчлэгдсэн: 8 Mar 2022</p>
          </div>
          <a href="/cv/create/basics">
            <button>Засах</button>
          </a>
        </section>

        <!-- User Avatar -->
        <section id="cvMainAvatar" class="flexBox">
          <img src="../../img/aboutUsImg/profile5.png" alt="profile5" />
          <h1>Michael</h1>
        </section>

        <!-- <section id="cvMainPersonalInfo"> -->
        <!-- Миний тухай хэсэг -->
        <section id="aboutMeInfo" class="cvMainInfoItem flexBox"></section>

        <!-- Контакт -->
        <section id="contactInfo" class="cvMainInfoItem flexBox"></section>
        <section id="experienceInfo" class="cvMainInfoItem flexBox"></section>
        <section id="skillInfo" class="cvMainInfoItem flexBox"></section>
        <section id="educationInfo" class="cvMainInfoItem flexBox"></section>

        <!-- Ажлын туршлага хэсэг -->

        <!-- Ур чадвар хэсэг -->
        <!-- <section id="skillInfo" class="cvMainInfoItem flexBox">
          <h3>УР ЧАДВАР</h3>
          <section class="cvMainSmallAdd flexBox">
            <img src="../../img/cv/cv_info_add.png" alt="add" />
            <button>
              <i class="fa-solid fa-circle-plus"></i> Ур чадвар нэмэх
            </button>
          </section>
        </section> -->

        <!-- Боловсрол хэсэг -->

        <!-- </section> -->
      </section>

      <!-- CV Intended jobs / Salary Info -->
      <section id="intendedJobs">
        <section id="title">
          <h2>Хүсэж буй ажил</h2>
          <a href="./intending_jobs.html"><i class="fa-solid fa-pencil"></i></a>
        </section>
        <!-- Intended job list -->
        <section id="cvIntendedJobs"></section>
        <!-- Salary info -->
        <section id="cvJobSalary">
          <p>Сард авах цалингийн доод хэмжээ</p>
          <h1><span>1,000,000</span>₮/Сард</h1>
        </section>
      </section>
    </main>

    <!-- footer хэсэг -->
    <footer>
      <a class="footerLogo" href="index.html"
        ><img src="../../img/Home/nitoLogo.svg" alt="nitoLogo"
      /></a>
      <section class="links">
        <section>
          <h4>Quick Links</h4>
          <ul>
            <li><a href="../aboutUs.html">Бидний тухай</a></li>
            <li><a href="../contact.html">Холбогдох</a></li>
            <li><a href="../blog.html">Блог</a></li>
            <li><a href="../loginToCV/cv.html">Миний CV</a></li>
            <li><a href="../loginToCV/jobs.html">Ажил хайх</a></li>
          </ul>
        </section>
        <section>
          <h4>Socials</h4>
          <ul>
            <li>
              <i class="fa-brands fa-facebook"></i>
              <a href="https://www.facebook.com/NITO.ONE/">facebook</a>
            </li>
            <li>
              <i class="fa-brands fa-instagram"></i>
              <a href="https://www.instagram.com/nito.app/">instagram</a>
            </li>
            <li>
              <i class="fa-brands fa-twitter"></i>
              <a href="https://twitter.com/nitoapp">twitter</a>
            </li>
            <li>
              <i class="fa-brands fa-linkedin"></i>
              <a href="https://www.linkedin.com/company/nitotech/">linkedin</a>
            </li>
          </ul>
        </section>
      </section>
    </footer>
    <section class="copyright">
      <hr />
      <p>© 2021 Nito Pte Ltd. All rights reserved</p>
    </section>
  </body>
  <script>
    let lastScrollTop = 0;
    var runner = 0;
    let navbar = document.getElementById("navbar");
    console.log(navbar);
    window.addEventListener("scroll", function () {
      var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      if (runner > -80) {
        runner = runner - 4;
      }
      if (scrollTop > lastScrollTop) {
        navbar.style.top = runner + "px";
      } else {
        runner = 0;
        navbar.style.top = "0px";
      }
      lastScrollTop = scrollTop;
    });
  </script>
</html>
