<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <!-- css links -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/> -->

    <link rel="stylesheet" href="../css/index/header.css" />
    <link rel="stylesheet" href="../css/index/footer.css" />
    <link rel="stylesheet" href="../css/jobs/jobs.css" />

    <!-- Javascript links -->
    <!-- <script src="https://kit.fontawesome.com/8ff3c400c9.js" crossorigin="anonymous"></script> -->
    <script
      src="https://kit.fontawesome.com/ce25a366df.js"
      crossorigin="anonymous"
    ></script>
    <title>Nito Jobs</title>
  </head>

  <script src="./template.js"></script>

  <body>
    <!-- <header-default></header-default> -->
    <header id="navbar">
      <a class="logo" href="../index.html"
        ><img src="../img/Home/nitoLogo.svg" alt="nitoLogo"
      /></a>
      <nav>
        <input type="checkBox" id="check" />
        <label for="check" class="checkBtn">
          <i class="fa-solid fa-bars"></i>
        </label>
        <ul class="navLinks">
          <li><a href="../index.html">Home</a></li>
          <li>
            <a href="cv.html"
              >Ажилтан CV<i class="fa-solid fa-address-book"></i
            ></a>
          </li>
          <li><a class="navActive" href="jobs.html">Ажил хайх</a></li>
          <li><a href="../aboutUs.html">Бидний тухай</a></li>
          <li><a href="../blog.html">Блог</a></li>
          <li class="signInLink"><a href="../signIn.html">Нэвтрэх</a></li>
          <a class="cta" href="../signUp.html"><button>Бүртгүүлэх</button></a>
        </ul>
      </nav>
    </header>

    <!-- Гол контентны хэсэг -->
    <section id="buhelContent">
      <!-- Siebar -->
      <aside id="jobsSidebar">
        <section id="jobSideTitle">
          <h1>Танд тохирох ажилууд</h1>
        </section>

        <!-- Ажлын жагсаалт -->
        <section class="shortJobInfo">
          <section class="jobsInfoTitle">
            <h2>Backend Developer /Mid+/</h2>
            <div class="jobsInfoWraper">
              <p>Mplus</p>
              <p>Full-Time</p>
              <p class="colorYellow">4.5 <i class="fa-solid fa-star"></i></p>
            </div>
          </section>
          <p class="jobsInfoDetails">
            Бизнесийн шаардлагын дагуу бакэнд систем, Rest API, админ панел
            зэргийг кодчилон хөгжүүлэх, санал оруулах, технологийн шийдэл
          </p>
          <div class="jobsSalaryWraper">
            <p>Цалин: ₮2,000,000 - ₮4,500,000</p>
            <p>5 өдөр</p>
          </div>
        </section>
        <section class="shortJobInfo">
          <section class="jobsInfoTitle">
            <h2>Front-end Developer</h2>
            <div class="jobsInfoWraper">
              <p>AND Global Pte. Ltd.</p>
              <p>Full-Time</p>
              <p class="colorYellow">3.9 <i class="fa-solid fa-star"></i></p>
            </div>
          </section>
          <p class="jobsInfoDetails">
            We are looking for Developers with preferably 2 years of
            professional experience who will be working on our in-house
            developments.
          </p>
          <div class="jobsSalaryWraper">
            <p>Цалин: ₮2,000,000 - ₮3,000,000</p>
            <p>6 өдөр</p>
          </div>
        </section>
        <section class="shortJobInfo">
          <section class="jobsInfoTitle">
            <h2>Support Engineer</h2>
            <div class="jobsInfoWraper">
              <p>AND Global Pte. Ltd.</p>
              <p>Full-Time</p>
              <p class="colorYellow">3.9 <i class="fa-solid fa-star"></i></p>
            </div>
          </section>
          <p class="jobsInfoDetails">
            Trying to find support engineer with below skills.
          </p>
          <div class="jobsSalaryWraper">
            <p>Цалин: ₮1,500,000 - ₮2,500,000</p>
            <p>6 өдөр</p>
          </div>
        </section>
        <section class="shortJobInfo">
          <section class="jobsInfoTitle">
            <h2>Backend Developer</h2>
            <div class="jobsInfoWraper">
              <p>Uparking Int LLC</p>
              <p>Full-Time</p>
              <p class="colorYellow">0 <i class="fa-solid fa-star"></i></p>
            </div>
          </section>
          <p class="jobsInfoDetails">
            Зогсоолын ашиглалт болон хэрэглээ, хэрэгцээг нэмэгдүүлэх дижитал
            шийдэл Uparking платформийн технологийн, хөгжүүлэлт дээр...
          </p>
          <div class="jobsSalaryWraper">
            <p>Цалин: ₮2,000,000 - ₮3,000,000</p>
            <p>7 өдөр</p>
          </div>
        </section>
        <section class="shortJobInfo">
          <section class="jobsInfoTitle">
            <h2>Front-end developer</h2>
            <div class="jobsInfoWraper">
              <p>Uparking Int LLC</p>
              <p>Full-Time</p>
              <p class="colorYellow">0 <i class="fa-solid fa-star"></i></p>
            </div>
          </section>
          <p class="jobsInfoDetails">
            Зогсоолын ашиглалт болон хэрэглээ, хэрэгцээг нэмэгдүүлэх дижитал
            шийдэл Uparking платформийн технологийн, хөгжүүлэлт дээр...
          </p>
          <div class="jobsSalaryWraper">
            <p>Цалин: ₮1,500,000 - ₮2,500,000</p>
            <p>7 өдөр</p>
          </div>
        </section>
      </aside>

      <!-- Main section -->
      <main id="jobDescription">
        <!-- Banner, Logo, Company Name, Star  -->
        <section class="jobDescriptionTop">
          <img
            class="jobDescroptionLogo"
            src="../img/jobs/jobDescriptionLogo.jpg"
            alt="jobLogo"
          />
        </section>

        <!-- Main Job description -->
        <section class="jobDescriptionMain">
          <p>
            Mplus <span>4.5 <i class="fa-solid fa-star"></i></span>
          </p>
          <h1>Backend Developer /Mid+/</h1>
          <p>Full-Time</p>
          <article id="jobsSalary">
            <h2>Цалин</h2>
            <p>2,000,000₮ - 4,500,000₮</p>
          </article>
          <article id="jobsGoal">
            <h2>Зорилго</h2>
            <p>
              Бизнесийн шаардлагын дагуу бакэнд систем, Rest API, админ панел
              зэргийг кодчилон хөгжүүлэх, санал оруулах, технологийн шийдэл
              олох, гарсан алдаа болон асуудлыг шийдвэрлэх.
            </p>
          </article>
          <article id="jobsResponsibility">
            <h2>Гүйцэтгэх үүрэг</h2>
            <ul class="jobsListItems">
              <li>Багаа манлайлан удирдан, зохион байгуулах</li>
              <li>Төлөвлөх, хяналт тавих</li>
              <li>Аппликэйшний дараагийн хувилбарын хөгжүүлэлтэд оролцох</li>
              <li>Шаардлагатай rest API-г хөгжүүлэх</li>
              <li>Серверийг хянах</li>
              <li>Засвар үйлчилгээний ажилд оролцох.</li>
            </ul>
          </article>
          <article id="jobsRequirement">
            <h2>Шалгуур</h2>
            <ul class="jobsListItems">
              <li>PHP, Laravel, Mysql-н талаар сайн мэдлэгтэй,</li>
              <li>
                Docker, containerized технологи ашигладаг эсвэл тодорхой
                ойлголттой байх,
              </li>
              <li>Git, Gitlab эсвэл төстэй бүтээгдэхүүн ашигладаг,</li>
              <li>Rest API хөгжүүлж байсан туршлагатай,</li>
              <li>Апп хөгжүүлэлтийн багт ажиллаж байсан туршлагатай,</li>
              <li>Мэргэжлээрээ 2+ жил ажилласан туршлагатай.</li>
            </ul>
          </article>
          <article id="jobsSkillRequirement">
            <h2>Нэмэлт шалгуур</h2>
            <article id="softSkills">
              <ul class="jobsListItems">
                <li>
                  Mplus-ийн залуу эрч хүчтэй баг хамт олонд нэгдэн ажиллах
                  хүсэлтэй
                </li>
                <li>
                  Үргэлж сурч хөгжих, дараагийн түвшинд гарах хүсэл тэмүүлэлтэй
                </li>
                <li>Багаар болон бие даан ажиллах чадвартай</li>
                <li>
                  Зорилгоо ойлгож урт хугацаанд хамтран ажиллах чин эрмэлзэлтэй
                </li>
              </ul>
            </article>
            <article id="hardSkills">
              <ul class="jobsListItems">
                <li>Англи хэлний зохих мэдлэгтэй</li>
                <li>
                  Unit, integration болон e2e test бичдэг бол давуу тал болно.
                </li>
                <li>
                  Мэргэжлийн түвшинд програмчлалын талаарх шилэгдсэн аргуудын
                  талаар мэдлэг туршлагатай байх, код бичих стандарт дагаж
                  мөрдөж байсан эсвэл өөрөө бусад багийнхаа гишүүдэд тогтоож өгч
                  байсан, код шалгах процессыг мэддэг мөн хэрэгжүүлдэг байх,
                  тест бичдэг байх.
                </li>
                <li>
                  Хэрэглээнд нэвтэрсэн апп системийг хөгжүүлсэн эсвэл оролцсон
                  бол давуу тал болно.
                </li>
              </ul>
            </article>
          </article>
          <!-- Employers, Emlpoyees -->
          <div class="jobsEmployees">
            <section class="jobsEmlpoyeeWrapper">
              <img src="../img/jobs/employer1.png" alt="CEO" />
              <h1>Enkhmandakh</h1>
              <p>CEO</p>
            </section>
            <section class="jobsEmlpoyeeWrapper">
              <img src="../img/jobs/employer2.png" alt="CTO" />
              <h1>Myagmarsuren</h1>
              <p>CTO</p>
            </section>
            <section class="jobsEmlpoyeeWrapper">
              <img
                src="../img/jobs/employer3.png"
                alt="Chief of project and content officer"
              />
              <h1>Tsolmon</h1>
              <p>Chief of project and content officer</p>
            </section>
          </div>
          <!-- Slogan -->
          <article id="jobsSlogan">
            <p>
              Монголын хамгийн анхны, хамгийн том цахим ном , аудио ном,
              подкастын нэгдэл. Оюундаа хөрөнгө оруулах зорилготой хэн бүхний
              сайн найз. Тархинд бас зүрхэнд хүрнэ. Илүү УНШ, Илүү СОНС
            </p>
          </article>
          <!-- Recruitment Process -->
          <article id="jobsRecruitmentProcess">
            <h2>Ажилд авах процесс:</h2>
            <section class="processWrapper">
              <p>ЯРИЛЦЛАГЫН ТОО - <span>2</span></p>
            </section>
            <section class="processWrapper">
              <p>ШАЛГАЛТ - <span>Байхгүй</span></p>
            </section>
          </article>
          <!-- Accessible Buttons -->
          <section>
            <section class="jobsButtonWrapper">
              <button type="button" class="lightButton">
                <a href="">MORE INFO</a>
              </button>
              <button type="button" class="primaryButton">
                <a href="">APPLY</a>
              </button>
              <button type="button" class="lightButton">
                <a href="">SHARE</a>
              </button>
            </section>
          </section>
        </section>
      </main>
    </section>

    <!-- footer хэсэг -->
    <footer>
      <a class="footerLogo" href="index.html"
        ><img src="../img/Home/nitoLogo.svg" alt="nitoLogo"
      /></a>
      <section class="links">
        <section>
          <h4>Quick Links</h4>
          <ul>
            <li><a href="../aboutUs.html">Бидний тухай</a></li>
            <li><a href="../contact.html">Холбогдох</a></li>
            <li><a href="../blog.html">Блог</a></li>
            <li><a href="../loginToCV/cv.html">Миний CV</a></li>
            <li><a href="../loginToCV/jobs.html">Ажил хайх</a></li>
          </ul>
        </section>
        <section>
          <h4>Socials</h4>
          <ul>
            <li>
              <i class="fa-brands fa-facebook"></i>
              <a href="https://www.facebook.com/NITO.ONE/">facebook</a>
            </li>
            <li>
              <i class="fa-brands fa-instagram"></i>
              <a href="https://www.instagram.com/nito.app/">instagram</a>
            </li>
            <li>
              <i class="fa-brands fa-twitter"></i>
              <a href="https://twitter.com/nitoapp">twitter</a>
            </li>
            <li>
              <i class="fa-brands fa-linkedin"></i>
              <a href="https://www.linkedin.com/company/nitotech/">linkedin</a>
            </li>
          </ul>
        </section>
      </section>
    </footer>
    <section class="copyright">
      <hr />
      <p>© 2021 Nito Pte Ltd. All rights reserved</p>
    </section>
  </body>
</html>
