<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <!-- CSS links -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/myCV/skill.css" />
    <!-- Javascript links -->
    <script
      src="https://kit.fontawesome.com/8ff3c400c9.js"
      crossorigin="anonymous"
    ></script>
    <!-- Sidebar бичих template script -->
    <script type="module" src="../../js/CvTemplate.js"></script>
    <title>Nito</title>
  </head>

  <body>
    <section id="bodyContainer">
      <!-- Sidebar render -->
      <aside>
        <my-aside activeAside="4"></my-aside>
      </aside>
      <!-- Main section -->
      <main id="skills">
        <!-- Header Text -->
        <header>
          <h1>Чадвар</h1>
          <p>
            Хамгийн сайн чаддаг soft skill, гадаад хэл, programming language,
            framework, tool, болон soft-skill оруулна. 10 орчим байлгахыг
            хичээгээрэй.
          </p>
        </header>
        <!-- Нэмэх дарсан үед доорхи хэсэг гарч ирнэ -->
        <section id="skillsInput">
          <input
            type="text"
            placeholder="e.g English, JQuery, AJAX, JavaScript"
          />
        </section>
        <!-- Skills list -->
        <p>Санал болгох</p>
        <section id="skillsList"></section>
      </main>
      <!-- Footer  -->
      <footer>
        <a href="work_history.html">
          <button class="defualtButton" type="button" class="lightButton">
            Өмнөх
          </button>
        </a>
        <div class="footerButtonWrapper">
          <!-- <a href=""> -->
          <button
            class="defualtButton"
            type="button"
            class="greyButton"
            onclick="storeSkills()"
          >
            Хадгалаад гарах
          </button>
          <!-- </a> -->
          <a href="/cv/create/education">
            <button
              id="storeSkills"
              class="activeButton primaryButton"
              type="button"
              onclick="sendToDb()"
            >
              Дараах
            </button>
          </a>
        </div>
      </footer>
    </section>
    <script src="../../js/cvSkillsControl.js"></script>
    <script>
      let skillsList = [];
      const activatedSkills = document.getElementsByClassName("skillInputItem");
      // console.log(activatedSkills);
      var addingBox = document.getElementById("skillsInput");
      var darsanEseh = 0;
      const setActivated = (number) => {
        if (darsanEseh == 0) {
          addingBox.innerHTML = "";
          darsanEseh = 1;
        }
        for (let i = 0; i < activatedSkills.length; i++) {
          let button = activatedSkills[i].children;
          // console.log(button);
          if (i == number) {
            let buttonClassList = button[0].classList;
            if (buttonClassList.contains("defualtButton")) {
              button[0].classList.add("skillActiveItem");
              addingBox.innerHTML += button[0].parentElement.innerHTML;
              skillsList.push(button[0].childNodes[1].innerHTML);
              button[0].style.display = "none";
              return;
            } else {
              button[0].classList = "defualtButton";
              activatedSkills[i].innerHTML = addingBox.innerHTML.replace(
                button[0].parentNode.innerHTML,
                ""
              );
              // console.log(addingBox.children[i]);
              addingBox.children[i].style.display = "none";
              button[0].style.display = "inline";
              return;
            }
          }
        }
      };
      function storeSkills() {
        window.localStorage.setItem("skillList", skillsList);
        console.log("stored");
      }
    </script>
    <script type="module" src="../../Cv.js"></script>
  </body>
</html>
