<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <meta
      name="description"
      content="Дундаж цалинаас өндөр ажлын байр хайж байвал та манай вебсайтаар зохилоход хангалттай. Nito дээр монголд байж болох хамгийн тав тухтай, цалин өндөртэй, эелдгээр хүлээж авах таны чадварыг хөгжүүлэх баг хамт олон хүлээж байна. Мэдээж компани болгон өөр өөрийн тусгай давуу талтай учир дуртай ажилаа сонгон CV-гээ илгээхэд л болно. CV-г бид таньд хялбар хийж болохуйцаар бэлдэж өгнө. If you are looking for a job above the average salary, all you have to do is visit our website. A team is waiting for you at Nito to develop your ability to be the most comfortable, well-paid and polite person in Mongolia. Of course, each company has its own special advantages, so just choose your favorite job and send your CV. We will prepare your CV as easily as possible."
    />
    <!-- Css links -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/myCV/work_history.css" />
    <script src="../../js/CvTemplate.js"></script>
    <!-- Javascript links -->
    <script
      src="https://kit.fontawesome.com/8ff3c400c9.js"
      crossorigin="anonymous"
    ></script>
    <!-- Sidebar бичих template script -->
    <script type="module" src="template.js"></script>
    <script type="module" src="../../Cv.js"></script>
    <script src="main.js"></script>
    <title>Nito</title>
  </head>

  <body>
    <!-- <aside>
      <cv-sidebar></cv-sidebar>
    </aside> -->
    <section id="bodyContainer">
      <!-- Sidebar render -->
      <aside>
        <my-aside activeAside="3"></my-aside>
      </aside>

      <!-- Main section -->
      <main id="workHistory">
        <!-- Header Text -->
        <header>
          <h1>Ажлын түүх</h1>
          <p>
            Ажиллах хугацаандаа гүйцэтгэсэн үүрэг, ашигласан технологи, tool
            аргачлал, хүрсэн үр дүнгээ бичээрэй.
          </p>
        </header>
        <!-- Хадгалсан / Оруулсан ажлын түүхийн мэдээлэл энд байна -->
        <section id="workHistoryList"></section>

        <!-- Ажлын түүх нэмэх товч   -->
        <button type="button" onclick="addWorkHistory()">
          <span><i class="fa-solid fa-circle-plus"></i></span> Нэмэх
        </button>
        <section id="addContainer"></section>
      </main>

      <!-- Footer  -->
      <footer>
        <a href="experience.html">
          <button type="button" class="lightButton">Өмнөх</button>
        </a>
        <div class="footerButtonWrapper">
          <a href="cv.html">
            <button type="button" class="greyButton">Хадгалаад гарах</button>
          </a>
          <a href="/cv/create/skill">
            <button type="submit" class="activeButton">Дараах</button>
          </a>
        </div>
      </footer>
    </section>
    <script>
      function addWorkHistory() {
        let nemehHeseg = document.getElementById("addContainer");
        let asideCss = document.getElementById("bodyContainer").children[0];
        asideCss.style.height = "auto";
        nemehHeseg.innerHTML = `
          <form id="workHistoryInputs" action="/cv/create/work_history-add" method="POST">
            <!-- Нэмэх дарсан үед доорхи хэсэг гарч ирнэ -->
            <section id="workPosition" class="longInput">
              <p>Албан тушаал</p>
              <input type="text" placeholder="Албан тушаалын нэр" name="position"/>
            </section>
            <section id="companyName" class="longInput">
              <p>Компани</p>
              <input type="text" placeholder="Компани нэр" name="company_name"/>
            </section>
            <!-- Одоо ажилж байгаа эсэх checkbox -->
            <div id="currentEmploymentState" class="checkboxInput">
              <input
                type="checkbox"
                id="emplpoymentState"
                name="emp_state"
              />
              <label for="emplpoymentState"> Одоо ажилж байгаа</label><br />
            </div>
            <!-- Ажилд орсон, гарсан он -->
            <div id="emloymentDateInfo" class="selectionWrapper">
              <section>
                <label for="emloymentDate">Ажилд орсон</label>
                <select id="emloymentDate" name="employment_date">
                  <option value="" disabled selected>Он сонгох</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                </select>
              </section>
              <section>
                <label for="unEmloymentDate">Ажилаас гарсан</label>
                <select id="unEmloymentDate" name="unemployment_date">
                  <option value="" disabled selected>Он сонгох</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                </select>
              </section>
            </div>
            <!-- Ажлын талаар дэлэгрэнгүй -->
            <section id="moreAboutWork">
              <p>Дэлгэрэнгүй ( Заавал биш )</p>
              <textarea
                name="moreAboutWork"
                id="moreAboutWorkValue"
                cols="50"
                rows="20"
                name="more_info_work"
                placeholder="Хүний нөөцийн менежерүүд энэ хэсэгт чухал ач холбогдол өгдөг тул ажиллах хугацаандаа гүйцэтгэсэн үүрэг, ашигласан технологи, tool аргачлал, хүрсэн үр дүн, гаргасан амжилтаа дэлгэрэнгүй бичээрэй."></textarea>
            </section>
            <button type="submit" class="saveButton primaryButton">
              <i class="fa-solid fa-check"><span class="saveButtonText"> Хадгалах</span></i>
            </button>
          </form>
        `;
      }
      function dissapearFrom() {
        let asideCss = document.getElementById("bodyContainer").children[0];
        asideCss.style.height = "85vh";
        document.getElementById("addContainer").innerHTML = "";
      }
    </script>
  </body>
</html>
